@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot');
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff') format('woff'), url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BlackItalic.eot');
  src: url('../fonts/Gotham/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BlackItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BlackItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BlackItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-BlackItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-BlackItalic.svg#Gotham Black Italic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Black.eot');
  src: url('../fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Black.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Black.woff') format('woff'), url('../fonts/Gotham/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Black.otf') format('opentype'), url('../fonts/Gotham/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BoldItalic.eot');
  src: url('../fonts/Gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BoldItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-BoldItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.eot');
  src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Bold.otf') format('opentype'), url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BookItalic.eot');
  src: url('../fonts/Gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-BookItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-BookItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.eot');
  src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Book.woff') format('woff'), url('../fonts/Gotham/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Book.otf') format('opentype'), url('../fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-LightItalic.eot');
  src: url('../fonts/Gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-LightItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-LightItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-LightItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.eot');
  src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Light.woff') format('woff'), url('../fonts/Gotham/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Light.otf') format('opentype'), url('../fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-MediumItalic.eot');
  src: url('../fonts/Gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-MediumItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-MediumItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.eot');
  src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Medium.otf') format('opentype'), url('../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-ThinItalic.eot');
  src: url('../fonts/Gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-ThinItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-ThinItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-ThinItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Thin.eot');
  src: url('../fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-Thin.woff2') format('woff2'), url('../fonts/Gotham/Gotham-Thin.woff') format('woff'), url('../fonts/Gotham/Gotham-Thin.ttf') format('truetype'), url('../fonts/Gotham/Gotham-Thin.otf') format('opentype'), url('../fonts/Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot');
  src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Gotham/Gotham-ExtraLightItalic.woff') format('woff'), url('../fonts/Gotham/Gotham-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Gotham/Gotham-ExtraLightItalic.otf') format('opentype'), url('../fonts/Gotham/Gotham-ExtraLightItalic.svg#Gotham-ExtraLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-ExtraLight.eot');
  src: url('../fonts/Gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/Gotham-ExtraLight.woff2') format('woff2'), url('../fonts/Gotham/Gotham-ExtraLight.woff') format('woff'), url('../fonts/Gotham/Gotham-ExtraLight.ttf') format('truetype'), url('../fonts/Gotham/Gotham-ExtraLight.otf') format('opentype'), url('../fonts/Gotham/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}
.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-21by9::before {
  padding-top: 42.85714286%;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive-4by3::before {
  padding-top: 75%;
}
.embed-responsive-1by1::before {
  padding-top: 100%;
}
.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  user-select: none;
  text-align: center;
  line-height: 2.1rem;
  padding: 2.2rem 4.5rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background: #551d4e;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background: #702266;
}
.btn:focus,
.btn.focus {
  outline: 0;
}
.btn_gray {
  color: #101010;
  background: #d6d6d6;
}
.btn_gray:hover {
  color: #101010;
  background: #c9c9c9;
}
.btn_blue {
  color: #fff;
  background: #11562d;
}
.btn_blue:hover {
  color: #fff;
  background: #0d4122;
}
.btn_blue {
  color: #fff;
  background: #3552b1;
}
.btn_blue:hover {
  color: #fff;
  background: #2f499d;
}
.btn_green {
  color: #fff;
  background: #11562d;
}
.btn_green:hover {
  color: #fff;
  background: #0d4122;
}
.btn_more {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #551d4e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #551d4e;
}
.btn_more:hover {
  color: #551d4e;
  text-decoration: none;
  border-bottom-color: transparent;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #8c8c8c;
  background: #fff;
  font-size: 1.4rem;
  line-height: 2.3rem;
  padding: 2rem 2.6rem;
  display: inline-block;
  height: 65px;
  vertical-align: middle;
  border: 1px solid #f2f2f2;
}
.form_control::-moz-placeholder {
  color: #8c8c8c;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #8c8c8c;
}
.form_control::-webkit-input-placeholder {
  color: #8c8c8c;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_control.form-control-icon {
  padding-left: 45px;
}
textarea.form_control {
  height: auto;
}
.form_control_email {
  padding-left: 6.5rem;
  background: url("../img/form_email.png") 0 50% no-repeat;
}
.form_control_password {
  padding-left: 6.5rem;
  background: url("../img/form_pass.png") 0 50% no-repeat;
}
.form_control_no_border {
  border-color: #fff;
  -webkit-box-shadow: -20px 20px 30px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -20px 20px 30px 0px rgba(0, 0, 0, 0.11);
  box-shadow: -20px 20px 30px 0px rgba(0, 0, 0, 0.11);
}
.form_group {
  position: relative;
  margin-bottom: 3rem;
}
.form_button {
  padding-top: 30px;
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 2.5rem 0;
}
.breadcrumb > li {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #551d4e;
  display: inline-block;
}
.breadcrumb > li:after {
  content: '-';
  padding: 0 5px;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb > li > a {
  color: #551d4e;
  text-decoration: none;
}
.breadcrumb > li > a:hover {
  color: #551d4e;
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #0a0a0a;
  font-family: 'Gotham', Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
h1,
.h1 {
  font-weight: 300;
  font-size: 4.6rem;
  line-height: 5.6rem;
  font-family: 'Gotham', Arial, sans-serif;
}
h2,
.h2 {
  font-weight: 300;
  line-height: 4rem;
  font-size: 3.7rem;
  margin-bottom: 4rem;
  font-family: 'Gotham', Arial, sans-serif;
}
h2 strong,
.h2 strong {
  font-weight: 400;
}
h3,
.h3 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 4rem;
  font-family: 'Gotham', Arial, sans-serif;
}
h4,
.h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Gotham', Arial, sans-serif;
}
h5,
.h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: 'Gotham', Arial, sans-serif;
}
h6,
.h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: 'Gotham', Arial, sans-serif;
}
p {
  margin: 0 0 3.2rem 0;
}
a {
  outline: none;
  color: #3552b1;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #233776;
  text-decoration: underline;
}
.header {
  z-index: 1010;
  height: 108px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
}
.header .header_logo {
  float: left;
  height: 108px;
  width: 95px;
  cursor: pointer;
  margin-right: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.header .header_logo i {
  width: 100%;
  margin: auto 0;
  display: inline-block;
}
.header .header_logo .img-fluid {
  fill: #551d4e;
}
.header .header_text {
  float: left;
  color: #000;
  opacity: 0.5;
  height: 108px;
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: 170px;
  padding: 39px 0;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.header .header_text span {
  margin: auto 0;
  display: inline-block;
}
.header .header_nav {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.header .header_nav > li {
  position: relative;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li > a {
  height: 108px;
  color: #4981c2;
  background: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 39px 30px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li > a > span {
  margin: auto 0;
  padding: 0.4rem 0;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #dbe6f3;
  border-top: 1px solid transparent;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.header .header_nav > li > a:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-decoration: none;
  background: #551d4e;
}
.header .header_nav > li > a.dropdown {
  padding-right: 48px;
}
.header .header_nav > li > a.dropdown:after,
.header .header_nav > li > a.dropdown:before {
  top: 50%;
  right: 22px;
  width: 7px;
  height: 1px;
  z-index: 10;
  content: '';
  background: #abc5e3;
  position: absolute;
  display: inline-block;
}
.header .header_nav > li > a.dropdown:after {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  margin-left: -5px;
}
.header .header_nav > li > a.dropdown:before {
  margin-right: 5px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}
.header .header_nav > li > a.dropdown:hover {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li > a.dropdown:hover:after,
.header .header_nav > li > a.dropdown:hover:before {
  background: #fff;
}
.header .header_nav > li:hover {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li:hover > a {
  color: #fff;
  text-decoration: none;
  background: #551d4e;
}
.header .header_nav > li:hover > a:after {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}
.header .header_nav > li:hover > a:before {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
}
.header .header_nav > li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li > ul {
  left: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  width: 295px;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  position: absolute;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .header_nav > li > ul > li > a {
  width: 100%;
  color: #4981c2;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  padding: 1.7rem 2rem 1.7rem 3.5rem;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.header .header_nav > li > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
  background: #551d4e;
}
.header .header_buttons {
  float: right;
  list-style: none;
  margin: 0;
  padding: 30px 0 0 0;
}
.header .header_buttons:before,
.header .header_buttons:after {
  content: " ";
  display: table;
}
.header .header_buttons:after {
  clear: both;
}
.header .header_buttons > li {
  float: left;
}
.header .header_buttons > li > a {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #551d4e;
  position: relative;
  text-align: center;
  padding: 1.6rem 4rem;
  text-decoration: none;
  display: inline-block;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.header .header_buttons > li > a:before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  display: inline-block;
  border: 1px solid #551d4e;
}
.header .header_buttons > li > a:hover {
  color: #fff;
  background: #551d4e;
}
.header .header_buttons > li > a:hover:before {
  display: none;
}
.header .header_buttons > li:first-child {
  margin-right: -1px;
}
.header .header_buttons > li:first-child a {
  width: 166px;
}
.header .header_buttons > li:first-child a:before {
  border-right: none;
}
.header .header_buttons > li:last-child a {
  width: 130px;
}
.email_block {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 75px;
}
.email_block .email_link {
  color: #000;
  font-size: 5rem;
  font-weight: 300;
  line-height: 5rem;
  padding-bottom: 1.5rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
}
.email_block .email_link:hover {
  color: #000;
  text-decoration: none;
  border-bottom-color: transparent;
}
.footer {
  background: #fff;
  padding-top: 60px;
  position: relative;
  padding-bottom: 47px;
}
.footer .footer_logo {
  float: left;
  width: 95px;
  height: 30px;
  cursor: pointer;
  margin-right: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.footer .footer_logo i {
  width: 100%;
  margin: auto 0;
  display: inline-block;
}
.footer .footer_logo .img-fluid {
  fill: #551d4e;
}
.footer .footer_text {
  float: left;
  color: #000;
  opacity: 0.5;
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: 190px;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.footer .footer_text span {
  margin: auto 0;
  display: inline-block;
}
.footer .footer_nav {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.footer .footer_nav > li {
  padding: 0 38px 0 38px;
  position: relative;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.footer .footer_nav > li > a {
  color: #4981c2;
  background: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.footer .footer_nav > li > a > span {
  margin: auto 0;
  padding: 0.4rem 0;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #dbe6f3;
  border-top: 1px solid transparent;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.footer .footer_nav > li > a:hover {
  color: #4981c2;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  text-decoration: none;
}
.footer .footer_nav > li > a:hover > span {
  border-bottom-color: transparent;
}
.footer .footer_buttons {
  float: right;
  list-style: none;
  margin: -10px 0 0 0;
  padding: 0;
}
.footer .footer_buttons:before,
.footer .footer_buttons:after {
  content: " ";
  display: table;
}
.footer .footer_buttons:after {
  clear: both;
}
.footer .footer_buttons > li {
  float: left;
}
.footer .footer_buttons > li > a {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #551d4e;
  position: relative;
  text-align: center;
  padding: 1.6rem 4rem;
  text-decoration: none;
  display: inline-block;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}
.footer .footer_buttons > li > a:before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  display: inline-block;
  border: 1px solid #551d4e;
}
.footer .footer_buttons > li > a:hover {
  color: #fff;
  background: #551d4e;
}
.footer .footer_buttons > li > a:hover:before {
  display: none;
}
.footer .footer_buttons > li:first-child {
  margin-right: -1px;
}
.footer .footer_buttons > li:first-child a {
  width: 166px;
}
.footer .footer_buttons > li:first-child a:before {
  border-right: none;
}
.footer .footer_buttons > li:last-child a {
  width: 130px;
}
.page_violet .header .header_logo .img-fluid {
  fill: #551d4e;
}
.page_violet .header .header_nav > li:hover > a {
  background: #551d4e;
}
.page_violet .header .header_nav > li > ul > li > a:hover {
  background: #551d4e;
}
.page_violet .header .header_buttons > li > a {
  color: #551d4e;
}
.page_violet .header .header_buttons > li > a:before {
  border-color: #551d4e;
}
.page_violet .header .header_buttons > li > a:hover {
  color: #fff;
  background: #551d4e;
}
.page_violet .footer .footer_logo .img-fluid {
  fill: #551d4e;
}
.page_violet .footer .footer_buttons > li > a {
  color: #551d4e;
}
.page_violet .footer .footer_buttons > li > a:before {
  border-color: #551d4e;
}
.page_violet .footer .footer_buttons > li > a:hover {
  color: #fff;
  background: #551d4e;
}
.page_violet .page_heading .heading_box {
  background: url("../img/heading_violet.jpg") 50% 50%;
  background-size: cover;
}
.page_violet .breadcrumb > li {
  color: #551d4e;
}
.page_violet .breadcrumb > li > a {
  color: #551d4e;
}
.page_violet .price .price_tariff.price_tariff_one {
  background: url("../img/price_heading_violet_one.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_violet .price .price_tariff.price_tariff_two {
  background: url("../img/price_heading_violet_two.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_violet .price .price_tariff.price_tariff_three {
  background: url("../img/price_heading_violet_three.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_violet .tariff_archive .tariff_archive_info {
  background: url("../img/heading_violet.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_violet .tariff_action > li:nth-child(2),
.page_violet .tariff_action > li:nth-child(3) {
  border-left-color: #551d4e;
}
.page_violet .tariff_action > li:nth-child(2) strong,
.page_violet .tariff_action > li:nth-child(3) strong {
  color: #551d4e;
}
.page_violet .payment .payment_corp {
  border-left-color: #551d4e;
}
.page_green .header .header_logo .img-fluid {
  fill: #11562d;
}
.page_green .header .header_nav > li:hover > a {
  background: #11562d;
}
.page_green .header .header_nav > li > ul > li > a:hover {
  background: #11562d;
}
.page_green .header .header_buttons > li > a {
  color: #11562d;
}
.page_green .header .header_buttons > li > a:before {
  border-color: #11562d;
}
.page_green .header .header_buttons > li > a:hover {
  color: #fff;
  background: #11562d;
}
.page_green .footer .footer_logo .img-fluid {
  fill: #11562d;
}
.page_green .footer .footer_buttons > li > a {
  color: #11562d;
}
.page_green .footer .footer_buttons > li > a:before {
  border-color: #11562d;
}
.page_green .footer .footer_buttons > li > a:hover {
  color: #fff;
  background: #11562d;
}
.page_green .page_heading .heading_box {
  background: url("../img/heading_green.jpg") 50% 50%;
  background-size: cover;
}
.page_green .breadcrumb > li {
  color: #11562d;
}
.page_green .breadcrumb > li > a {
  color: #11562d;
}
.page_green .price .price_tariff.price_tariff_one {
  background: url("../img/price_heading_green_one.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_green .price .price_tariff.price_tariff_two {
  background: url("../img/price_heading_green_two.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_green .price .price_tariff.price_tariff_three {
  background: url("../img/price_heading_green_three.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_green .tariff_archive {
  border-left-color: #11562d;
}
.page_green .tariff_archive .tariff_archive_info {
  background: url("../img/price_heading_green_one.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.page_green .tariff_archive .tariff_archive_price {
  color: #11562d;
}
.page_green .tariff_action > li:nth-child(2),
.page_green .tariff_action > li:nth-child(3) {
  border-left-color: #11562d;
}
.page_green .tariff_action > li:nth-child(2) strong,
.page_green .tariff_action > li:nth-child(3) strong {
  color: #11562d;
}
.page_green .payment .payment_corp {
  border-left-color: #11562d;
}
.page_green .btn_more {
  color: #11562d;
  border-bottom-color: #cedcd3;
}
.page_green .btn_more:hover {
  border-bottom-color: transparent;
}
.page_blue .header .header_logo .img-fluid {
  fill: #3552b1;
}
.page_blue .header .header_nav > li:hover > a {
  background: #3552b1;
}
.page_blue .header .header_nav > li > ul > li > a:hover {
  background: #3552b1;
}
.page_blue .header .header_buttons > li > a {
  color: #3552b1;
}
.page_blue .header .header_buttons > li > a:before {
  border-color: #3552b1;
}
.page_blue .header .header_buttons > li > a:hover {
  color: #fff;
  background: #3552b1;
}
.page_blue .footer .footer_logo .img-fluid {
  fill: #3552b1;
}
.page_blue .footer .footer_buttons > li > a {
  color: #3552b1;
}
.page_blue .footer .footer_buttons > li > a:before {
  border-color: #3552b1;
}
.page_blue .footer .footer_buttons > li > a:hover {
  color: #fff;
  background: #3552b1;
}
.page_blue .page_heading .heading_box {
  background: #3552b1;
}
.page_blue .breadcrumb > li {
  color: #3552b1;
}
.page_blue .breadcrumb > li > a {
  color: #3552b1;
}
.page_blue .price .price_tariff.price_tariff_one {
  background: #3552b1;
}
.page_blue .price .price_tariff.price_tariff_two {
  background: #3458cd;
}
.page_blue .price .price_tariff.price_tariff_three {
  background: #3552b1;
}
.page_blue .tariff_archive {
  border-left-color: #3552b1;
}
.page_blue .tariff_archive .tariff_archive_info {
  background: #3552b1;
}
.page_blue .tariff_archive .tariff_archive_price {
  color: #3552b1;
}
.page_blue .tariff_action > li:nth-child(2),
.page_blue .tariff_action > li:nth-child(3) {
  border-left-color: #3552b1;
}
.page_blue .tariff_action > li:nth-child(2) strong,
.page_blue .tariff_action > li:nth-child(3) strong {
  color: #3552b1;
}
.page_blue .payment .payment_corp {
  border-left-color: #3552b1;
}
.page_blue .btn_more {
  color: #3552b1;
  border-bottom-color: #d5dbee;
}
.page_blue .btn_more:hover {
  border-bottom-color: transparent;
}
.container {
  width: 1246px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.heading {
  color: #000;
  background: #fff;
  padding: 5.7rem 0 5.3rem 0;
  position: relative;
}
.heading.heading_shadow {
  z-index: 10;
  -webkit-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.16);
}
.heading.heading_violet {
  color: #551d4e;
}
.heading.heading_green {
  color: #11562d;
}
.heading.heading_md {
  padding: 7.2rem 0 6.8rem 0;
}
.heading h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 3.7rem;
  line-height: 4rem;
  text-align: center;
}
.heading h2 strong {
  font-weight: 400;
}
.offer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: #f2f2f2;
}
.offer .container {
  height: 615px;
  padding-top: 90px;
  padding-bottom: 70px;
  position: relative;
}
.offer .offer_image {
  top: 15px;
  left: 585px;
  width: 933px;
  height: 615px;
  position: absolute;
}
.offer .offer_title {
  width: 500px;
  color: #101010;
  font-weight: 200;
  font-size: 4.6rem;
  line-height: 5.5rem;
  margin-bottom: 50px;
}
.offer .offer_title strong {
  font-weight: 400;
}
.offer .offer_text {
  color: #0f0f0f;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding-left: 80px;
  margin-bottom: 70px;
  background: url("../img/offer__icon.png") 0 50% no-repeat;
}
.offer .offer_form {
  width: 580px;
  margin-bottom: 65px;
}
.offer .offer_form_row {
  padding: 0;
  margin: 0 -1rem;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.offer .offer_form_row > li {
  padding: 0 1rem;
}
.offer .offer_form_row > li:first-child {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.offer .offer_form_row > li:last-child {
  width: 290px;
  min-width: 290px;
}
.offer .offer_form .btn {
  width: 100%;
}
.offer .offer_social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.offer .offer_social .offer_social_text {
  color: #000;
  width: 165px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.1rem;
  padding-right: 40px;
}
.offer .offer_social .offer_social_elem {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.offer .offer_social .offer_social_elem > li {
  margin: 1rem 1rem 0 0;
  display: inline-block;
}
.offer .offer_social .offer_social_elem > li a {
  color: #000;
  opacity: 0.15;
  padding: 0 0.5rem;
  font-size: 2.2rem;
  line-height: 2.2rem;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.offer .offer_social .offer_social_elem > li a:hover {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.module {
  height: 780px;
  max-width: 100%;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 48px;
}
.module .module_heading {
  margin-bottom: 60px;
}
.module .module_heading:before,
.module .module_heading:after {
  content: " ";
  display: table;
}
.module .module_heading:after {
  clear: both;
}
.module .module_heading .module_heading_logo {
  float: left;
  width: 112px;
  height: 20px;
  display: block;
  overflow: hidden;
  margin: 0 22px 0 7px;
}
.module .module_heading .module_heading_logo svg {
  fill: #fff;
}
.module .module_heading .module_heading_text {
  color: #fff;
  opacity: 0.5;
  float: left;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
}
.module .module_main {
  margin-right: -100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.module .module_main .module_side {
  width: 460px;
  min-width: 460px;
  padding-top: 42px;
}
.module .module_main .module_right {
  min-height: 640px;
  padding: 120px 0 0 87px;
  background: url("../img/module_shadow.png") 0 0 no-repeat;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.module .module_nav {
  margin: 0;
  padding: 0;
  width: 380px;
  list-style: none;
}
.module .module_nav > li {
  position: relative;
}
.module .module_nav > li:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  opacity: 0.1;
  position: absolute;
  border: 1px solid #fff;
  border-bottom: none;
}
.module .module_nav > li:after {
  z-index: 6;
  top: -5px;
  left: -10px;
  content: '';
  right: -10px;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.module .module_nav > li:last-child:before {
  border-bottom: 1px solid #fff;
}
.module .module_nav > li:hover:after {
  opacity: 1;
  visibility: visible;
}
.module .module_nav > li.active:after {
  opacity: 1;
  visibility: visible;
}
.module .module_nav > li > a {
  color: #fff;
  z-index: 10;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  padding: 2.3rem 3rem;
  display: inline-block;
  text-decoration: none;
}
.module .module_nav > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.module .module_item {
  display: none;
}
.module .module_item.active {
  display: block;
}
.module .module_content {
  width: 622px;
}
.module .module_content .module_image {
  margin-bottom: 60px;
}
.module .module_content .module_text {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
}
.module_violet {
  background: url("../img/module_violet.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.module_violet .module_nav > li:after {
  background: #3a2853;
}
.module_green {
  background: url("../img/module_green.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.module_green .module_nav > li:after {
  background: #2b7944;
}
.module_white {
  background: #fff;
}
.module_white .module_heading .module_heading_logo svg {
  fill: #551d4e;
}
.module_white .module_heading .module_heading_text {
  color: #000;
  opacity: 0.8;
}
.module_white .module_main {
  background: #ffffff;
  padding: 0 0 5rem 7rem;
  border-left: 5px solid #551d4e;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.11);
}
.module_white .module_nav > li:before {
  opacity: 0.1;
  border-color: #000;
}
.module_white .module_nav > li:after {
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
.module_white .module_nav > li:last-child:before {
  border-bottom: 1px solid #000;
}
.module_white .module_nav > li > a {
  color: #0c0c0c;
}
.module_white .module_nav > li > a:hover {
  color: #0c0c0c;
}
.module_white .module_content .module_text {
  color: #000;
}
.module_white.module_white_violet .module_heading .module_heading_logo svg {
  fill: #551d4e;
}
.module_white.module_white_violet .module_main {
  border-left-color: #551d4e;
}
.module_white.module_white_green .module_heading .module_heading_logo svg {
  fill: #11562d;
}
.module_white.module_white_green .module_main {
  border-left-color: #11562d;
}
.soon {
  background: #f2f2f2;
  padding: 70px 0 45px 0;
}
.soon .soon_title {
  color: #000;
  font-weight: 200;
  font-size: 3.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 60px;
}
.soon .soon_title strong {
  font-weight: 400;
}
.soon .soon_item {
  padding: 0;
  width: 100%;
  height: 130px;
  display: table;
  background: #fff;
  list-style: none;
  margin: 0 0 2.5rem 0;
  border-left: 5px solid #fff;
}
.soon .soon_item > li {
  height: 130px;
  display: table-cell;
  vertical-align: middle;
}
.soon .soon_item > li:first-child {
  padding-left: 65px;
}
.soon .soon_item > li:last-child {
  width: 530px;
  padding-right: 140px;
}
.soon .soon_item .soon_name:before,
.soon .soon_item .soon_name:after {
  content: " ";
  display: table;
}
.soon .soon_item .soon_name:after {
  clear: both;
}
.soon .soon_item .soon_name i {
  float: left;
  width: 112px;
  height: 20px;
  overflow: hidden;
  margin-right: 27px;
  display: inline-block;
}
.soon .soon_item .soon_name span {
  float: left;
  color: #000;
  opacity: 0.78;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
}
.soon .soon_item .soon_plan {
  color: #000;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
  position: relative;
  padding-left: 75px;
}
.soon .soon_item .soon_plan i {
  left: 0;
  top: 50%;
  width: 42px;
  height: 51px;
  margin-top: -25px;
  position: absolute;
  display: inline-block;
}
.soon .soon_item .soon_plan i .ico-svg {
  fill: #000;
}
.soon .soon_item.soon_item_blue {
  border-left-color: #3552b1;
}
.soon .soon_item.soon_item_blue .soon_name svg {
  fill: #3552b1;
}
.soon .soon_item.soon_item_red {
  border-left-color: #ed4059;
}
.soon .soon_item.soon_item_red .soon_name svg {
  fill: #ed4059;
}
.reviews {
  padding: 75px 0;
  background: #fff;
}
.reviews .reviews_title {
  color: #000;
  font-weight: 200;
  font-size: 3.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 80px;
}
.reviews .reviews_title strong {
  font-weight: 400;
}
.reviews .review_view {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #551d4e;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #551d4e;
}
.reviews .review_view:hover {
  color: #551d4e;
  border-bottom-color: transparent;
}
.review {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  background: #fff;
  list-style: none;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
.review > li {
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;
  line-height: 2.5rem;
  display: table-cell;
  vertical-align: middle;
  padding: 40px 110px 35px 70px;
}
.review > li:first-child {
  padding: 40px 20px 40px 50px;
}
.review > li:last-child {
  width: 775px;
}
.review > li h4 {
  color: #000;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}
.review > li h4 strong {
  font-weight: 400;
}
.review .review_info {
  width: 100%;
  display: table;
}
.review .review_info .review_info_date {
  width: 67px;
  color: #000;
  padding-top: 20px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  display: table-cell;
  vertical-align: middle;
}
.review .review_info .review_info_photo {
  width: 113px;
  display: table-cell;
  vertical-align: middle;
}
.review .review_info .review_info_name {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
  display: table-cell;
  padding: 10px 0 0 40px;
  vertical-align: middle;
}
.review .review_info .review_info_name strong {
  display: block;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.review .review_logo {
  top: 20px;
  right: 25px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.review .review_logo .ico-svg {
  fill: #551d4e;
}
.clients {
  max-width: 100%;
  overflow: hidden;
  padding-top: 85px;
  background: #f2f2f2;
  padding-bottom: 70px;
}
.clients .clients_title {
  color: #000;
  font-weight: 200;
  font-size: 3.7rem;
  line-height: 4.5rem;
  text-align: center;
  margin-bottom: 77px;
}
.clients .clients_title strong {
  font-weight: 400;
}
.clients .clients_wrap {
  position: relative;
}
.clients .client {
  width: 222px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
.clients .client .client_text {
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  position: absolute;
  text-align: center;
  padding: 126px 10px 10px;
}
.clients .client .client_text strong {
  display: block;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}
.clients .client .client_text span {
  opacity: 0.4;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.clients .swiper-button-prev,
.clients .swiper-button-next {
  width: 14px;
  height: 33px;
  outline: none;
  margin-top: -13px;
  background: transparent;
}
.clients .swiper-button-prev {
  left: -30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.clients .swiper-button-next {
  right: -30px;
}
.news_block {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 80px;
}
.news_block .news_block_title {
  color: #000;
  font-weight: 200;
  font-size: 3.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 85px;
}
.news_block .news_block_title strong {
  font-weight: 400;
}
.news_block .news_row {
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.news_block .news_item {
  color: #000;
  display: block;
  background: #fff;
  position: relative;
  margin-bottom: 45px;
  text-decoration: none;
  width: calc(50% - 25px);
  padding: 47px 110px 50px 50px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.news_block .news_item h4 {
  width: 340px;
  height: 6.8rem;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-bottom: 2rem;
  color: #551d4e;
}
.news_block .news_item .news_item_text {
  color: #000;
  opacity: 0.6;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.news_block .news_item .news_item_icon {
  top: 20px;
  right: 25px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.news_block .news_item .news_item_icon .ico-svg {
  fill: #551d4e;
}
.news_block .news_item:hover {
  color: #fff;
  text-decoration: none;
  background: #551d4e;
}
.news_block .news_item:hover h4 {
  color: #fff;
}
.news_block .news_item:hover .news_item_text {
  color: #fff;
  opacity: 0.8;
}
.news_block .news_item:hover .news_item_icon .ico-svg {
  fill: #fff;
}
.news_block .news_social .news_social_title {
  color: #000;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.news_block .news_social ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: center;
}
.news_block .news_social ul li {
  padding: 0 1rem;
  display: inline-block;
}
.news_block .news_social ul li a {
  color: #000;
  font-size: 2.6rem;
  line-height: 2.6rem;
  text-decoration: none;
}
.news_block .news_social ul li a .fa-vk {
  color: #5181b8;
}
.news_block .news_social ul li a .fa-facebook {
  color: #3c5a99;
}
.news_block .news_social ul li a:hover {
  text-decoration: none;
}
.news_block .news_social ul li a:hover i {
  color: #000 !important;
}
.progress {
  color: #fff;
  min-height: 265px;
  padding-top: 75px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background: url("../img/progress_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.progress ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.progress ul li {
  text-align: center;
}
.progress ul li strong {
  display: block;
  font-size: 6rem;
  font-weight: 200;
  line-height: 6rem;
  margin-bottom: 2rem;
}
.progress ul li span {
  opacity: 0.5;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.page_heading {
  max-width: 100%;
  position: relative;
  background: #f2f2f2;
}
.page_heading.heading_white {
  background: #fff;
}
.page_heading .page_heading_wrap {
  height: 252px;
  width: 1246px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.page_heading .page_heading_wrap.heading_large {
  height: 300px;
}
.page_heading .page_heading_wrap.heading_small {
  height: 217px;
}
.page_heading h1 {
  margin: auto 0;
  display: inline-block;
}
.page_heading .page_heading_text {
  color: #000;
  opacity: 0.82;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.7rem;
  padding-top: 3rem;
}
.page_heading .page_nav {
  padding: 0;
  float: right;
  margin: auto 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.page_heading .page_nav > li {
  margin-left: 30px;
}
.page_heading .page_nav > li > a {
  color: #000;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.9rem;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
}
.page_heading .page_nav > li > a:hover {
  color: #fff;
  background: #551d4e;
}
.page_heading .page_nav > li.active > a {
  color: #fff;
  background: #551d4e;
}
.page_heading .heading_box {
  z-index: 20;
  top: 67px;
  color: #fff;
  width: 528px;
  height: 300px;
  position: relative;
  background: url("../img/heading_violet.jpg");
  padding: 40px 90px 20px 60px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page_heading .heading_box:before {
  top: 45px;
  right: -1px;
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right: 20px solid #f2f2f2;
}
.page_heading .heading_box .heading_box_title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  max-width: 360px;
  margin-bottom: 3rem;
}
.page_heading .heading_box .heading_box_title strong {
  font-weight: 400;
}
.page_heading .heading_box .heading_box_text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.page_heading .heading_box .heading_box_link {
  color: #fff;
  font-weight: 200;
  font-size: 3.5rem;
  line-height: 3.5rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.6rem;
}
.page_heading .heading_box .heading_box_link:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
}
.page_heading .heading_box .heading_box_link:hover {
  color: #fff;
  text-decoration: none;
}
.page_heading .heading_box .heading_box_link:hover:before {
  opacity: 0;
  visibility: hidden;
}
.main {
  padding-top: 70px;
  padding-bottom: 70px;
}
.main_content {
  padding-top: 70px;
  padding-bottom: 50px;
}
.main_price {
  z-index: 30;
  position: relative;
  background: #f2f2f2;
  padding-bottom: 100px;
}
.main_gray {
  background: #f2f2f2;
}
.main_title {
  margin-bottom: 7rem;
}
.main_box {
  background: #fff;
  font-size: 1.5rem;
  line-height: 2.7rem;
  padding: 67px 120px 45px 60px;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
  -moz-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
  box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
}
.quote {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  background: #fff;
  list-style: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
}
.quote > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.quote > li:nth-child(1) {
  width: 250px;
  padding: 10px 10px 10px 60px;
}
.quote > li:nth-child(2) {
  width: 275px;
  padding: 20px 40px 20px 0;
}
.quote > li:nth-child(3) {
  padding: 40px 90px 40px 0;
}
.quote .quote_image {
  width: 150px;
  margin-top: -5px;
  position: relative;
}
.quote .quote_image:before {
  left: -6px;
  bottom: 0;
  content: '';
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  background: #551d4e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quote .quote_image img {
  z-index: 10;
  position: relative;
}
.quote .quote_author {
  color: #0a0a0a;
}
.quote .quote_author strong {
  display: block;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.7rem;
}
.quote .quote_author span {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.quote .quote_title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.7rem;
  margin-bottom: 2.8rem;
}
.quote .quote_text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.quote .quote_logo {
  top: 20px;
  right: 25px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.quote .quote_logo .ico-svg {
  fill: #551d4e;
}
.unit {
  width: 100%;
  border-left: 5px solid #fff;
  background: #fff url("../img/unit_bg.jpg") 100% 100% no-repeat;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.unit .unit_left {
  width: 520px;
  min-width: 520px;
  font-size: 1.5rem;
  line-height: 2.7rem;
  padding: 60px 40px 58px 45px;
}
.unit .unit_left p {
  margin-bottom: 35px;
}
.unit .unit_right {
  padding: 50px 0 0 38px;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.unit .unit_image {
  width: 622px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
.unit .unit_heading {
  margin-bottom: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.unit .unit_heading .unit_heading_logo {
  width: 98px;
  margin: 0 22px 0 7px;
}
.unit .unit_heading .unit_heading_logo svg {
  fill: #000;
}
.unit .unit_heading .unit_heading_text {
  color: #000;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
}
.unit.unit_green {
  border-left-color: #11562d;
}
.unit.unit_green .unit_heading .unit_heading_logo svg {
  fill: #11562d;
}
.unit.unit_blue {
  border-left-color: #3552b1;
}
.unit.unit_blue .unit_heading .unit_heading_logo svg {
  fill: #3552b1;
}
.white_box {
  background: #fff;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
}
.profile_content {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.profile_content > li:first-child {
  width: 830px;
  padding: 55px 20px 85px 80px;
}
.profile_content > li:last-child {
  padding-top: 105px;
  background: url("../img/profile_content_bg.png") 0 0 repeat-y;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.profile_content .profile_email {
  margin-bottom: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.profile_content .profile_email .profile_email_value {
  color: #000;
  width: 160px;
  margin: auto 0;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2rem;
}
.profile_content .profile_email .profile_email_text {
  color: #000;
}
.profile_content .profile_email .profile_email_text strong {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}
.profile_content .profile_email .profile_email_text span {
  opacity: 0.67;
  font-size: 1.2rem;
  line-height: 2rem;
}
.profile_content .profile_email .profile_email_inner {
  margin: auto 0;
}
.profile_content .form_box {
  width: 410px;
}
.profile_content .form_control_help {
  top: 0;
  left: 520px;
  color: #000;
  width: 160px;
  height: 65px;
  opacity: 0.8;
  display: table;
  font-size: 1.2rem;
  position: absolute;
  line-height: 1.4rem;
}
.profile_content .form_control_help span {
  height: 65px;
  display: table-cell;
  vertical-align: middle;
}
.profile_file {
  color: #4981c2;
  width: 190px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  line-height: 2.2rem;
}
.profile_file:before {
  z-index: 5;
  bottom: 0;
  left: -1px;
  content: '';
  width: 190px;
  height: 190px;
  display: block;
  position: absolute;
  background: #f1f1f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.profile_file:after {
  left: -12px;
  bottom: -12px;
  z-index: 5;
  content: '';
  width: 214px;
  height: 214px;
  display: block;
  position: absolute;
  border: 1px dashed #d2d2d2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.profile_file input[type='file'] {
  display: none;
}
.profile_file span {
  top: 100px;
  left: 30px;
  right: 30px;
  z-index: 20;
  text-align: center;
  position: absolute;
  text-decoration: underline;
}
.profile_file img {
  z-index: 15;
  position: relative;
}
.profile_file:hover span {
  text-decoration: none;
}
.auth_info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.auth_info .auth_info_left {
  width: 50%;
  padding: 30px 90px 25px 80px;
  border-right: 3px solid #551d4e;
}
.auth_info .auth_info_right {
  width: 50%;
  background: #fff;
  padding: 60px 90px 80px 80px;
  border-left: 2px solid #551d4e;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
.auth_info .form_title {
  color: #000;
  font-size: 3rem;
  font-weight: 200;
  line-height: 3.2rem;
  margin-bottom: 3rem;
}
.auth_info .form_title strong {
  font-weight: 400;
}
.auth_info .form_text {
  color: #000;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 4.5rem;
}
.auth_info .form_wrap {
  width: 330px;
  margin-bottom: 80px;
}
.form_social .form_social_title {
  color: #000;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
}
.form_social .form_social_title strong {
  font-weight: 400;
}
.form_social ul {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -1rem;
  list-style: none;
}
.form_social ul li {
  margin: 0 1rem;
  display: inline-block;
}
.form_social ul li a {
  width: 56px;
  height: 56px;
  color: #fff;
  padding: 1.8rem 0;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form_social ul li a.vk {
  background: #346595;
}
.form_social ul li a.gp {
  background: #ed4922;
}
.form_social ul li a.fb {
  background: #485a91;
}
.form_social ul li a.tw {
  background: #59adeb;
}
.box_form {
  padding: 60px 80px 50px 80px;
}
.box_form .box_form_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.box_form .box_form_left {
  width: 440px;
  min-width: 440px;
  padding-right: 2rem;
}
.box_form .box_form_right {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.box_form .form_title {
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.4rem;
}
.box_form .form_title strong {
  font-weight: 400;
}
.box_form .box_inline_form {
  padding: 0;
  margin: 0 -1rem;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.box_form .box_inline_form > li {
  padding: 0 1rem;
}
.box_form .box_inline_form > li:first-child {
  width: 360px;
  min-width: 360px;
}
.box_form .box_inline_form > li:last-child {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.box_form .box_inline_form > li .btn {
  width: 100%;
}
.box_form .form_info_text {
  color: #000;
  opacity: 0.6;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.box_form .form_title_second {
  color: #000;
  opacity: 0.6;
  font-weight: 300;
  font-size: 1.9rem;
  line-height: 2.8rem;
}
.box_form .box_form_wrap {
  width: 340px;
}
.box_form .box_form_wrap .btn {
  width: 100%;
  margin-top: 2rem;
}
.box_form .no_account {
  background: #fff;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-bottom: 75px;
  padding: 31px 40px 35px 50px;
  border-left: 5px solid #551d4e;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.07);
}
.box_form .no_account span {
  display: block;
  margin-bottom: 0.5rem;
}
.box_form .no_account a {
  color: #4981c2;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #d7e3f2;
}
.box_form .no_account a:hover {
  color: #4981c2;
  text-decoration: none;
  border-bottom-color: transparent;
}
.tabs .tabs_nav {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.tabs .tabs_nav > li {
  width: 33.33%;
}
.tabs .tabs_nav > li a {
  width: 100%;
  color: #3552b1;
  background: #fff;
  font-size: 1.5rem;
  line-height: 2.1rem;
  text-align: center;
  padding: 2.3rem 1rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}
.tabs .tabs_nav > li a:hover {
  color: #fff;
  text-decoration: none;
}
.tabs .tabs_nav > li:nth-child(1) a {
  color: #551d4e;
  border-bottom-color: #551d4e;
}
.tabs .tabs_nav > li:nth-child(1) a:hover {
  color: #fff;
  background: #551d4e;
}
.tabs .tabs_nav > li:nth-child(1).active a {
  color: #fff;
  background: #551d4e;
}
.tabs .tabs_nav > li:nth-child(2) a {
  color: #3552b1;
  border-bottom-color: #3552b1;
}
.tabs .tabs_nav > li:nth-child(2) a:hover {
  color: #fff;
  background: #3552b1;
}
.tabs .tabs_nav > li:nth-child(2).active a {
  color: #fff;
  background: #3552b1;
}
.tabs .tabs_nav > li:nth-child(3) a {
  color: #11562d;
  border-bottom-color: #11562d;
}
.tabs .tabs_nav > li:nth-child(3) a:hover {
  color: #fff;
  background: #11562d;
}
.tabs .tabs_nav > li:nth-child(3).active a {
  color: #fff;
  background: #11562d;
}
.tabs .tabs_item {
  display: none;
}
.tabs .tabs_item.active {
  display: block;
}
.social_enter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.social_enter .social_enter_text {
  color: #000;
  width: 260px;
  padding-top: 0.8rem;
  min-width: 260px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}
.tutorial_box {
  padding: 75px 142px 50px 134px;
}
.tutorial_box p {
  margin-bottom: 5rem;
}
.tutorial_box .tutorial_box_image {
  position: relative;
  margin-bottom: 8rem;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.1);
}
.tutorial_box .tutorial_box_image .tutorial_box_hover {
  width: 261px;
  height: 261px;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.2);
}
.tutorial_box .btn-back {
  color: #000;
  opacity: 0.4;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
}
.tutorial_video {
  display: block;
  position: relative;
}
.tutorial_video:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
}
.tutorial_video:before {
  top: 50%;
  left: 50%;
  content: '';
  z-index: 20;
  width: 108px;
  height: 108px;
  position: absolute;
  margin: -54px 0 0 -54px;
  background: url("../img/btn_play.png") 50% 50% no-repeat;
}
.box_text {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 50px 50px 25px 60px;
}
.box_text ul {
  padding: 0;
  list-style: none;
  margin: 0 0 0 45px;
}
.box_text ul li {
  margin-bottom: 1.5rem;
}
.price {
  width: 100%;
  margin-top: -127px;
  border-collapse: collapse;
}
.price .price_tariff {
  color: #fff;
  width: 100%;
  height: 205px;
  text-align: left;
  position: relative;
  background: #3552b1;
  padding: 38px 80px 40px 55px;
}
.price .price_tariff.price_tariff_one {
  background: url("../img/price_heading_violet_one.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.price .price_tariff.price_tariff_two {
  background: url("../img/price_heading_violet_two.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.price .price_tariff.price_tariff_three {
  background: url("../img/price_heading_violet_three.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.price .price_tariff .price_tariff_name {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.price .price_tariff .price_tariff_new {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}
.price .price_tariff .price_tariff_date {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.price .price_tariff .price_tariff_old {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.price .price_tariff .price_tariff_old span {
  text-decoration: line-through;
}
.price .price_tariff .price_tariff_logo {
  top: 30px;
  right: 30px;
  width: 11px;
  height: 15px;
  position: absolute;
  display: inline-block;
}
.price .price_tariff .price_tariff_logo .ico-svg {
  fill: #fff;
}
.price th {
  width: 25%;
  height: 70px;
  text-align: left;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #f2f2f2;
}
.price td {
  width: 25%;
  height: 70px;
  font-size: 2rem;
  background: #fff;
  text-align: center;
  line-height: 2.2rem;
  vertical-align: middle;
  border: 1px solid #f2f2f2;
}
.price tr:nth-child(1) th {
  padding: 0;
  border: none;
  text-align: left;
}
.price tr:nth-child(1) td {
  padding: 0;
  border: none;
  text-align: left;
}
.price tr:nth-child(2) th {
  height: auto;
  font-size: 2rem;
  line-height: 2.6rem;
}
.price tr:nth-child(2) td {
  height: auto;
  color: #737373;
  background: #fff;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 35px 30px 35px 60px;
}
.tariff_archive {
  padding: 30px;
  background: #fff;
  position: relative;
  margin-bottom: 100px;
  border-left: 5px solid #551d4e;
  -webkit-border-radius: 0.3px;
  -moz-border-radius: 0.3px;
  border-radius: 0.3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.tariff_archive .tariff_archive_info {
  color: #fff;
  width: 705px;
  height: 272px;
  min-width: 705px;
  position: relative;
  padding: 60px 90px 30px 65px;
  background: url("../img/heading_violet.jpg") 50% 50% no-repeat;
  background-size: cover;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.tariff_archive .tariff_archive_info:before {
  top: 45px;
  right: -1px;
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-right: 20px solid #ffffff;
}
.tariff_archive .tariff_archive_info .tariff_archive_heading {
  margin-bottom: 2.5rem;
}
.tariff_archive .tariff_archive_heading {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 3.4rem;
  margin-bottom: 3.5rem;
}
.tariff_archive .tariff_archive_heading strong {
  font-weight: 400;
}
.tariff_archive .tariff_archive_text {
  padding: 50px 60px 10px 90px;
}
.tariff_archive .tariff_archive_price {
  font-size: 3rem;
  font-weight: 300;
  color: #551d4e;
  line-height: 3.2rem;
}
.tariff_archive .tariff_archive_logo {
  top: 30px;
  right: 30px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.tariff_archive .tariff_archive_logo .ico-svg {
  fill: #e0e0e0;
}
.tariff_action {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.tariff_action > li {
  position: relative;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.tariff_action > li:nth-child(1) {
  font-weight: 300;
  font-size: 3.7rem;
  padding-top: 45px;
  line-height: 3.8rem;
}
.tariff_action > li:nth-child(1) strong {
  font-weight: 500;
}
.tariff_action > li:nth-child(2),
.tariff_action > li:nth-child(3) {
  width: 452px;
  min-width: 452px;
  background: #fff;
  text-align: center;
  margin-left: 38px;
  padding: 55px 20px 20px 20px;
  border-left: 5px solid #551d4e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.07);
}
.tariff_action > li:nth-child(2) strong,
.tariff_action > li:nth-child(3) strong {
  display: block;
  font-weight: 300;
  font-size: 7.8rem;
  line-height: 7.8rem;
  margin-bottom: 3.5rem;
  color: #551d4e;
}
.tariff_action > li:nth-child(2) span,
.tariff_action > li:nth-child(3) span {
  display: block;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}
.tariff_action .tariff_action_logo {
  top: 30px;
  right: 30px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.tariff_action .tariff_action_logo .ico-svg {
  fill: #e3e3e3;
}
.payment {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.payment .payment_private {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.payment .payment_private .payment_title {
  margin-bottom: 10rem;
}
.payment .payment_corp {
  width: 413px;
  min-width: 413px;
  background: #fff;
  position: relative;
  padding: 50px 50px 60px 50px;
  border-left: 5px solid #551d4e;
  -webkit-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
  -moz-box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
  box-shadow: 0px 0px 90px 0px rgba(50, 50, 50, 0.07);
}
.payment .payment_corp .payment_title {
  margin-bottom: 3rem;
}
.payment .payment_title {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 3.8rem;
}
.payment .payment_title strong {
  font-weight: 500;
}
.payment .payment_lead {
  color: #000;
  opacity: 0.6;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-bottom: 4.5rem;
}
.payment .payment_text {
  opacity: 0.6;
  color: #4b4b4b;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.payment .payment_text a {
  color: #4981c2;
  text-decoration: underline;
}
.payment .payment_text a:hover {
  text-decoration: none;
}
.payment .payment_logo {
  top: 33px;
  right: 47px;
  width: 17px;
  height: 24px;
  position: absolute;
  display: inline-block;
}
.payment .payment_logo .ico-svg {
  fill: #e0e0e0;
}
.payment .payment_method {
  position: relative;
  margin-right: -40px;
  margin-bottom: -45px;
}
.payment .payment_method table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ededed;
}
.payment .payment_method td {
  width: 25%;
  font-size: 0;
  line-height: 0;
  padding: 1rem 0;
  text-align: center;
  border-right: 1px solid #ededed;
}
.payment .payment_method td .img-fluid {
  display: inline-block;
}
.payment .payment_method tr:first-child td {
  color: #848484;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 3rem 4rem;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.payment .payment_method tr:nth-child(2) td {
  padding-top: 2.5rem;
}
.payment .payment_method tr:last-child td {
  padding-bottom: 2.5rem;
}
.row {
  margin: 0 -1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.row .col-50 {
  width: 50%;
  padding: 0 1rem;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_80 {
  margin-bottom: 80px;
}
.mb_90 {
  margin-bottom: 90px;
}
.mb_100 {
  margin-bottom: 115px;
}
.mb_115 {
  margin-bottom: 115px;
}
.pb_0 {
  padding-bottom: 0;
}
