.page_violet {

	.header {

		.header_logo {

			.img-fluid {
				fill: @color-violet;
			}
		}

		.header_nav {

			> li {

				&:hover {

					> a {
						background: @color-violet;
					}
				}

				> ul {

					> li {

						> a {

							&:hover {
								background: @color-violet;
							}
						}
					}
				}
			}
		}

		.header_buttons {

			> li {

				> a {
					color: @color-violet;

					&:before {
						border-color: @color-violet;
					}

					&:hover {
						color: #fff;
						background: @color-violet;
					}
				}
			}
		}
	}

	.footer {

		.footer_logo {

			.img-fluid {
				fill: @color-violet;
			}
		}

		.footer_buttons {

			> li {

				> a {
					color: @color-violet;

					&:before {
						border-color: @color-violet;
					}

					&:hover {
						color: #fff;
						background: @color-violet;
					}
				}
			}
		}
	}

	.page_heading {

		.heading_box {
			background: url("../img/heading_violet.jpg") 50% 50%;
			background-size: cover;
		}
	}

	.breadcrumb {

		> li {
			color: @color-violet;

			> a {
				color: @color-violet;
			}
		}
	}

	.price {

		.price_tariff {

			&.price_tariff_one {
				background: url("../img/price_heading_violet_one.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&.price_tariff_two {
				background: url("../img/price_heading_violet_two.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&.price_tariff_three {
				background: url("../img/price_heading_violet_three.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	.tariff_archive {

		.tariff_archive_info {
			background: url("../img/heading_violet.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	.tariff_action {

		> li {
			&:nth-child(2),
			&:nth-child(3) {
				border-left-color: @color-violet;

				strong {
					color: @color-violet;
				}
			}
		}
	}

	.payment {

		.payment_corp {
			border-left-color: @color-violet;
		}
	}
}

.page_green {

	.header {

		.header_logo {

			.img-fluid {
				fill: @color-green;
			}
		}

		.header_nav {

			> li {

				&:hover {

					> a {
						background: @color-green;
					}
				}

				> ul {

					> li {

						> a {

							&:hover {
								background: @color-green;
							}
						}
					}
				}
			}
		}

		.header_buttons {

			> li {

				> a {
					color: @color-green;

					&:before {
						border-color: @color-green;
					}

					&:hover {
						color: #fff;
						background: @color-green;
					}
				}
			}
		}
	}

	.footer {

		.footer_logo {

			.img-fluid {
				fill: @color-green;
			}
		}

		.footer_buttons {

			> li {

				> a {
					color: @color-green;

					&:before {
						border-color: @color-green;
					}

					&:hover {
						color: #fff;
						background: @color-green;
					}
				}
			}
		}
	}

	.page_heading {

		.heading_box {
			background: url("../img/heading_green.jpg") 50% 50%;
			background-size: cover;
		}
	}

	.breadcrumb {

		> li {
			color: @color-green;

			> a {
				color: @color-green;
			}
		}
	}

	.price {

		.price_tariff {

			&.price_tariff_one {
				background: url("../img/price_heading_green_one.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&.price_tariff_two {
				background: url("../img/price_heading_green_two.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&.price_tariff_three {
				background: url("../img/price_heading_green_three.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}
	}

	.tariff_archive {
		border-left-color: @color-green;

		.tariff_archive_info {
			background: url("../img/price_heading_green_one.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		.tariff_archive_price {
			color: @color-green;
		}
	}

	.tariff_action {

		> li {
			&:nth-child(2),
			&:nth-child(3) {
				border-left-color: @color-green;

				strong {
					color: @color-green;
				}
			}
		}
	}

	.payment {

		.payment_corp {
			border-left-color: @color-green;
		}
	}

	.btn_more {
		color: @color-green;
		border-bottom-color: #cedcd3;

		&:hover {
			border-bottom-color: transparent;
		}
	}
}

.page_blue {

	.header {

		.header_logo {

			.img-fluid {
				fill: @color-blue;
			}
		}

		.header_nav {

			> li {

				&:hover {

					> a {
						background: @color-blue;
					}
				}

				> ul {

					> li {

						> a {

							&:hover {
								background: @color-blue;
							}
						}
					}
				}
			}
		}

		.header_buttons {

			> li {

				> a {
					color: @color-blue;

					&:before {
						border-color: @color-blue;
					}

					&:hover {
						color: #fff;
						background: @color-blue;
					}
				}
			}
		}
	}

	.footer {

		.footer_logo {

			.img-fluid {
				fill: @color-blue;
			}
		}

		.footer_buttons {

			> li {

				> a {
					color: @color-blue;

					&:before {
						border-color: @color-blue;
					}

					&:hover {
						color: #fff;
						background: @color-blue;
					}
				}
			}
		}
	}

	.page_heading {

		.heading_box {
			background: #3552b1;
		}
	}

	.breadcrumb {

		> li {
			color: @color-blue;

			> a {
				color: @color-blue;
			}
		}
	}

	.price {

		.price_tariff {

			&.price_tariff_one {
				background: #3552b1;
			}

			&.price_tariff_two {
				background: #3458cd;
			}

			&.price_tariff_three {
				background: #3552b1;
			}
		}
	}

	.tariff_archive {
		border-left-color: @color-blue;

		.tariff_archive_info {
			background: #3552b1;
		}

		.tariff_archive_price {
			color: @color-blue;
		}
	}

	.tariff_action {

		> li {
			&:nth-child(2),
			&:nth-child(3) {
				border-left-color: @color-blue;

				strong {
					color: @color-blue;
				}
			}
		}
	}

	.payment {

		.payment_corp {
			border-left-color: @color-blue;
		}
	}

	.btn_more {
		color: @color-blue;
		border-bottom-color: #d5dbee;

		&:hover {
			border-bottom-color: transparent;
		}
	}
}

// --------

.container {
	width: 1246px;
	margin: 0 auto;
	padding: 0 1rem;
	.clearfix();
}

.heading {
	color: #000;
	background: #fff;
	padding: 5.7rem 0 5.3rem 0;
	position: relative;

	&.heading_shadow {
		z-index: 10;
		.box-shadow(0px 13px 30px 0px rgba(0, 0, 0, 0.16));
	}

	&.heading_violet {
		color: @color-violet;
	}

	&.heading_green {
		color: @color-green;
	}

	&.heading_md {
		padding: 7.2rem 0 6.8rem 0;
	}

	h2 {
		margin: 0;
		padding: 0;
		font-weight: 300;
		font-size: 3.7rem;
		line-height: 4rem;
		text-align: center;

		strong {
			font-weight: 400;
		}
	}
}

.offer {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background: #f2f2f2;

	.container {
		height: 615px;
		padding-top: 90px;
		padding-bottom: 70px;
		position: relative;
	}

	.offer_image {
		top: 15px;
		left: 585px;
		width: 933px;
		height: 615px;
		position: absolute;
	}

	.offer_title {
		width: 500px;
		color: #101010;
		font-weight: 200;
		font-size: 4.6rem;
		line-height: 5.5rem;
		margin-bottom: 50px;

		strong {
			font-weight: 400;
		}
	}

	.offer_text {
		color: #0f0f0f;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2.2rem;
		padding-left: 80px;
		margin-bottom: 70px;
		background: url("../img/offer__icon.png") 0 50% no-repeat;
	}

	.offer_form {
		width: 580px;
		margin-bottom: 65px;

		&_row {
			padding: 0;
			margin: 0 -1rem;
			list-style: none;
			.flex-display();

			> li {
				padding: 0 1rem;

				&:first-child {
					.flex-grow(1);
				}

				&:last-child {
					width: 290px;
					min-width: 290px;
				}
			}
		}

		.btn {
			width: 100%;
		}
	}

	.offer_social {
		.flex-display();

		.offer_social_text {
			color: #000;
			width: 165px;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2.1rem;
			padding-right: 40px;
		}

		.offer_social_elem {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			.flex-display();

			> li {
				margin: 1rem 1rem 0 0;
				display: inline-block;

				a {
					color: #000;
					opacity: 0.15;
					padding: 0 0.5rem;
					font-size: 2.2rem;
					line-height: 2.2rem;
					display: inline-block;
					text-decoration: none;
					.transition(.3s);

					&:hover {
						color: #000;
						opacity: 0.5;
						text-decoration: none;
						.transition(.3s);
					}
				}
			}
		}
	}
}

.module {
	height: 780px;
	max-width: 100%;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 48px;

	.module_heading {
		margin-bottom: 60px;
		.clearfix();

		.module_heading_logo {
			float: left;
			width: 112px;
			height: 20px;
			display: block;
			overflow: hidden;
			margin: 0 22px 0 7px;

			svg {
				fill: #fff;
			}
		}

		.module_heading_text {
			color: #fff;
			opacity: 0.5;
			float: left;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	.module_main {
		margin-right: -100px;

		.flex-display();

		.module_side {
			width: 460px;
			min-width: 460px;
			padding-top: 42px;
		}

		.module_right {
			min-height: 640px;
			padding: 120px 0 0 87px;
			background: url("../img/module_shadow.png") 0 0 no-repeat;
			.flex-grow(1);
		}
	}

	.module_nav {
		margin: 0;
		padding: 0;
		width: 380px;
		list-style: none;

		> li {
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				opacity: 0.1;
				position: absolute;
				border: 1px solid #fff;
				border-bottom: none;
			}

			&:after {
				z-index: 6;
				top: -5px;
				left: -10px;
				content: '';
				right: -10px;
				bottom: -5px;
				opacity: 0;
				visibility: hidden;
				position: absolute;
			}

			&:last-child {

				&:before {
					border-bottom: 1px solid #fff;
				}
			}

			&:hover {

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}

			&.active {

				&:after {
					opacity: 1;
					visibility: visible;
				}
			}

			> a {
				color: #fff;
				z-index: 10;
				width: 100%;
				font-size: 1.5rem;
				line-height: 2rem;
				position: relative;
				padding: 2.3rem 3rem;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}

	.module_item {
		display: none;

		&.active {
			display: block;
		}
	}

	.module_content {
		width: 622px;

		.module_image {
			margin-bottom: 60px;
		}

		.module_text {
			color: #fff;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2.3rem;
			text-align: center;
		}
	}
}

.module_violet {
	background: url("../img/module_violet.jpg") 50% 50% no-repeat;
	background-size: cover;

	.module_nav {

		> li {

			&:after {
				background: #3a2853;
			}
		}
	}
}

.module_green {
	background: url("../img/module_green.jpg") 50% 50% no-repeat;
	background-size: cover;

	.module_nav {

		> li {

			&:after {
				background: #2b7944;
			}
		}
	}
}

.module_white {
	background: #fff;

	.module_heading {

		.module_heading_logo {

			svg {
				fill: @color-violet;
			}
		}

		.module_heading_text {
			color: #000;
			opacity: 0.8;
		}
	}

	.module_main {
		background: #ffffff;
		padding: 0 0 5rem 7rem;
		border-left: 5px solid @color-violet;
		.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.11));
	}

	.module_nav {

		> li {

			&:before {
				opacity: 0.1;
				border-color: #000;
			}

			&:after {
				background: #fff;
				.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.07));
			}

			&:last-child {

				&:before {
					border-bottom: 1px solid #000;
				}
			}

			> a {
				color: #0c0c0c;

				&:hover {
					color: #0c0c0c;
				}
			}
		}
	}

	.module_content {

		.module_text {
			color: #000;
		}
	}

	&.module_white_violet {

		.module_heading {

			.module_heading_logo {

				svg {
					fill: @color-violet;
				}
			}
		}

		.module_main {
			border-left-color: @color-violet;
		}

	}

	&.module_white_green {

		.module_heading {

			.module_heading_logo {

				svg {
					fill: @color-green;
				}
			}
		}

		.module_main {
			border-left-color: @color-green;
		}
	}
}

.soon {
	background: #f2f2f2;
	padding: 70px 0 45px 0;

	.soon_title {
		color: #000;
		font-weight: 200;
		font-size: 3.7rem;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 60px;

		strong {
			font-weight: 400;
		}
	}

	.soon_item {
		padding: 0;
		width: 100%;
		height: 130px;
		display: table;
		background: #fff;
		list-style: none;
		margin: 0 0 2.5rem 0;
		border-left: 5px solid #fff;

		> li {
			height: 130px;
			display: table-cell;
			vertical-align: middle;

			&:first-child {
				padding-left: 65px;
			}

			&:last-child {
				width: 530px;
				padding-right: 140px;
			}
		}

		.soon_name {
			.clearfix();

			i {
				float: left;
				width: 112px;
				height: 20px;
				overflow: hidden;
				margin-right: 27px;
				display: inline-block;
			}

			span {
				float: left;
				color: #000;
				opacity: 0.78;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
			}
		}


		.soon_plan {
			color: #000;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2.2rem;
			position: relative;
			padding-left: 75px;

			i {
				left: 0;
				top: 50%;
				width: 42px;
				height: 51px;
				margin-top: -25px;
				position: absolute;
				display: inline-block;

				.ico-svg {
					fill: #000;
				}
			}

			span {

			}
		}

		&.soon_item_blue {
			border-left-color: @color-blue;

			.soon_name {

				svg {
					fill: @color-blue;
				}
			}
		}

		&.soon_item_red {
			border-left-color: @color-red;

			.soon_name {

				svg {
					fill: @color-red;
				}
			}
		}
	}
}

.reviews {
	padding: 75px 0;
	background: #fff;

	.reviews_title {
		color: #000;
		font-weight: 200;
		font-size: 3.7rem;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 80px;

		strong {
			font-weight: 400;
		}
	}

	.review_view {
		font-weight: 300;
		font-size: 2.5rem;
		line-height: 3rem;
		color: @color-base;
		margin-top: 30px;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid @color-base;

		&:hover {
			color: @color-base;
			border-bottom-color: transparent;
		}
	}
}

.review {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	background: #fff;
	list-style: none;
	margin-bottom: 40px;
	.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.07));

	> li {
		font-weight: 300;
		font-size: 1.5rem;
		position: relative;
		line-height: 2.5rem;
		display: table-cell;
		vertical-align: middle;
		padding: 40px 110px 35px 70px;


		&:first-child {
			padding: 40px 20px 40px 50px;
		}

		&:last-child {
			width: 775px;
		}

		h4 {
			color: #000;
			font-weight: 200;
			font-size: 3rem;
			line-height: 3.8rem;
			margin-bottom: 2rem;

			strong {
				font-weight: 400;
			}
		}
	}

	.review_info {
		width: 100%;
		display: table;

		.review_info_date {
			width: 67px;
			color: #000;
			padding-top: 20px;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2rem;
			display: table-cell;
			vertical-align: middle;
		}

		.review_info_photo {
			width: 113px;
			display: table-cell;
			vertical-align: middle;
		}

		.review_info_name {
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 1.9rem;
			display: table-cell;
			padding: 10px 0 0 40px;
			vertical-align: middle;

			strong {
				display: block;
				font-weight: 400;
				font-size: 1.9rem;
				line-height: 2.2rem;
				margin-bottom: 1rem;
			}
		}
	}

	.review_logo {
		top: 20px;
		right: 25px;
		width: 17px;
		height: 24px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: @color-base;
		}
	}
}

.clients {
	max-width: 100%;
	overflow: hidden;
	padding-top: 85px;
	background: #f2f2f2;
	padding-bottom: 70px;

	.clients_title {
		color: #000;
		font-weight: 200;
		font-size: 3.7rem;
		line-height: 4.5rem;
		text-align: center;
		margin-bottom: 77px;

		strong {
			font-weight: 400;
		}
	}

	.clients_wrap {
		position: relative;
	}

	.clients_slider {

	}

	.client {
		width: 222px;
		margin: 0 auto;
		background: #fff;
		position: relative;

		.client_text {
			top: 0;
			left: 0;
			right: 0;
			color: #000;
			position: absolute;
			text-align: center;
			padding: 126px 10px 10px;

			strong {
				display: block;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 1.7rem;
				margin-bottom: 1rem;
			}

			span {
				opacity: 0.4;
				font-weight: 400;
				font-size: 1.1rem;
				line-height: 1.5rem;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 14px;
		height: 33px;
		outline: none;
		margin-top: -13px;
		background: transparent;
	}

	.swiper-button-prev {
		left: -30px;
		.rotate(180deg);
	}

	.swiper-button-next {
		right: -30px;
	}
}

.news_block {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 80px;

	.news_block_title {
		color: #000;
		font-weight: 200;
		font-size: 3.7rem;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 85px;

		strong {
			font-weight: 400;
		}
	}

	.news_row {
		margin-bottom: 30px;
		.flex-display();
		.flex-wrap(wrap);
		.justify-content(space-between);
	}

	.news_item {
		color: #000;
		display: block;
		background: #fff;
		position: relative;
		margin-bottom: 45px;
		text-decoration: none;
		width: calc(50% - 25px);
		padding: 47px 110px 50px 50px;
		.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.1));

		h4 {
			width: 340px;
			height: 6.8rem;
			font-weight: 300;
			font-size: 2.6rem;
			line-height: 3.4rem;
			margin-bottom: 2rem;
			color: @color-base;
		}

		.news_item_text {
			color: #000;
			opacity: 0.6;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2.5rem;
		}

		.news_item_icon {
			top: 20px;
			right: 25px;
			width: 17px;
			height: 24px;
			position: absolute;
			display: inline-block;

			.ico-svg {
				fill: @color-base;
			}
		}

		&:hover {
			color: #fff;
			text-decoration: none;
			background: @color-base;

			h4 {
				color: #fff;
			}

			.news_item_text {
				color: #fff;
				opacity: 0.8;
			}

			.news_item_icon {

				.ico-svg {
					fill: #fff;
				}
			}
		}
	}

	.news_social {

		.news_social_title {
			color: #000;
			font-weight: 300;
			font-size: 2.5rem;
			line-height: 3rem;
			text-align: center;
			margin-bottom: 2rem;
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			li {
				padding: 0 1rem;
				display: inline-block;

				a {
					color: #000;
					font-size: 2.6rem;
					line-height: 2.6rem;
					text-decoration: none;

					.fa-vk {
						color: #5181b8;
					}

					.fa-facebook {
						color: #3c5a99;
					}

					&:hover {
						text-decoration: none;

						i {
							color: #000 !important;
						}
					}
				}
			}
		}
	}
}

.progress {
	color: #fff;
	min-height: 265px;
	padding-top: 75px;
	padding-bottom: 50px;
	margin-bottom: 20px;
	background: url("../img/progress_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		.flex-display();
		.justify-content(space-around);


		li {
			text-align: center;

			strong {
				display: block;
				font-size: 6rem;
				font-weight: 200;
				line-height: 6rem;
				margin-bottom: 2rem;
			}

			span {
				opacity: 0.5;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 2.3rem;
			}
		}
	}
}

.page_heading {
	max-width: 100%;
	position: relative;
	background: #f2f2f2;

	&.heading_white {
		background: #fff;
	}

	.page_heading_wrap {
		height: 252px;
		width: 1246px;
		margin: 0 auto;
		padding: 0 1rem;
		position: relative;
		.flex-display();
		.align-items(center);
		.justify-content(space-between);

		&.heading_large {
			height: 300px;
		}

		&.heading_small {
			height: 217px;
		}
	}

	h1 {
		margin: auto 0;
		display: inline-block;
	}

	.page_heading_text {
		color: #000;
		opacity: 0.82;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2.7rem;
		padding-top: 3rem;
	}

	.page_nav {
		padding: 0;
		float: right;
		margin: auto 0;
		list-style: none;
		.flex-display();

		> li {
			margin-left: 30px;

			> a {
				color: #000;
				font-weight: 300;
				font-size: 1.6rem;
				text-align: center;
				line-height: 1.9rem;
				display: inline-block;
				text-decoration: none;
				padding: 0.8rem 1.8rem;

				&:hover {
					color: #fff;
					background: @color-base;
				}
			}

			&.active {

				> a {
					color: #fff;
					background: @color-base;
				}
			}
		}
	}

	.heading_box {
		z-index: 20;
		top: 67px;
		color: #fff;
		width: 528px;
		height: 300px;
		position: relative;
		background: @color-bg;
		padding: 40px 90px 20px 60px;
		.border-radius(2px);

		&:before {
			top: 45px;
			right: -1px;
			content: '';
			position: absolute;
			border: 20px solid transparent;
			border-right: 20px solid #f2f2f2;
		}

		.heading_box_title {
			font-size: 3rem;
			font-weight: 300;
			line-height: 3rem;
			max-width: 360px;
			margin-bottom: 3rem;

			strong {
				font-weight: 400;
			}
		}

		.heading_box_text {
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 3rem;
		}

		.heading_box_link {
			color: #fff;
			font-weight: 200;
			font-size: 3.5rem;
			line-height: 3.5rem;
			position: relative;
			text-decoration: none;
			display: inline-block;
			padding-bottom: 0.6rem;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				height: 1px;
				position: absolute;
				background: rgba(255,255,255,0.2);
			}

			&:hover {
				color: #fff;
				text-decoration: none;

				&:before {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}

.main {
	padding-top: 70px;
	padding-bottom: 70px;
}

.main_content {
	padding-top: 70px;
	padding-bottom: 50px;
}

.main_price {
	z-index: 30;
	position: relative;
	background: #f2f2f2;
	padding-bottom: 100px;
}

.main_gray {
	background: #f2f2f2;
}

.main_title {
	margin-bottom: 7rem;
}

.main_box {
	background: #fff;
	font-size: 1.5rem;
	line-height: 2.7rem;
	padding: 67px 120px 45px 60px;
	.box-shadow(0px 0px 90px 0px rgba(50, 50, 50, 0.07));
}

.quote {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	background: #fff;
	list-style: none;
	.box-shadow(0px 0px 30px 0px rgba(50, 50, 50, 0.07));

	> li {
		position: relative;
		display: table-cell;
		vertical-align: middle;

		&:nth-child(1) {
			width: 250px;
			padding: 10px 10px 10px 60px;
		}

		&:nth-child(2) {
			width: 275px;
			padding: 20px 40px 20px 0;
		}

		&:nth-child(3) {
			padding: 40px 90px 40px 0;
		}
	}

	.quote_image {
		width: 150px;
		margin-top: -5px;
		position: relative;

		&:before {
			left: -6px;
			bottom: 0;
			content: '';
			width: 150px;
			height: 150px;
			display: block;
			position: absolute;
			background: @color-base;
			.border-radius(50%);
		}

		img {
			z-index: 10;
			position: relative;
		}
	}

	.quote_author {
		color: #0a0a0a;

		strong {
			display: block;

			font-weight: 400;
			font-size: 1.9rem;
			line-height: 2.7rem;
		}

		span {
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 1.9rem;
		}
	}

	.quote_title {
		font-size: 3rem;
		font-weight: 300;
		line-height: 3.7rem;
		margin-bottom: 2.8rem;
	}

	.quote_text {
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 2.5rem;
	}

	.quote_logo {
		top: 20px;
		right: 25px;
		width: 17px;
		height: 24px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: @color-base;
		}
	}
}

.unit {
	width: 100%;
	border-left: 5px solid #fff;
	background: #fff url("../img/unit_bg.jpg") 100% 100% no-repeat;
	.flex-display();

	.unit_left {
		width: 520px;
		min-width: 520px;
		font-size: 1.5rem;
		line-height: 2.7rem;
		padding: 60px 40px 58px 45px;

		p {
			margin-bottom: 35px;
		}
	}

	.unit_right {
		padding: 50px 0 0 38px;
		.flex-grow(1);
	}

	.unit_image {
		width: 622px;
		.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.07));
	}

	.unit_heading {
		margin-bottom: 50px;
		.flex-display();

		.unit_heading_logo {
			width: 98px;
			margin: 0 22px 0 7px;

			svg {
				fill: #000;
			}
		}

		.unit_heading_text {
			color: #000;
			opacity: 0.8;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	&.unit_green {
		border-left-color: @color-green;

		.unit_heading {

			.unit_heading_logo {

				svg {
					fill: @color-green;
				}
			}
		}
	}

	&.unit_blue {
		border-left-color: @color-blue;

		.unit_heading {

			.unit_heading_logo {

				svg {
					fill: @color-blue;
				}
			}
		}
	}
}

.white_box {
	background: #fff;
	.box-shadow(0px 0px 90px 0px rgba(0, 0, 0, 0.07));
}

.profile_content {
	margin: 0;
	padding: 0;
	list-style: none;
	.flex-display();

	> li {

		&:first-child {
			width: 830px;
			padding: 55px 20px 85px 80px;
		}

		&:last-child {
			padding-top: 105px;
			background: url("../img/profile_content_bg.png") 0 0 repeat-y;
			.flex-grow(1);
		}
	}

	.profile_email {
		margin-bottom: 48px;
		.flex-display();

		.profile_email_value {
			color: #000;
			width: 160px;
			margin: auto 0;
			font-weight: 600;
			font-size: 1.9rem;
			line-height: 2rem;
		}

		.profile_email_text {
			color: #000;

			strong {
				display: block;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 2rem;
			}

			span {
				opacity: 0.67;
				font-size: 1.2rem;
				line-height: 2rem;
			}
		}

		.profile_email_inner {
			margin: auto 0;
		}
	}

	.form_box {
		width: 410px;
	}

	.form_control_help {
		top: 0;
		left: 520px;
		color: #000;
		width: 160px;
		height: 65px;
		opacity: 0.8;
		display: table;
		font-size: 1.2rem;
		position: absolute;
		line-height: 1.4rem;

		span {
			height: 65px;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.profile_file {
	color: #4981c2;
	width: 190px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	font-size: 1.6rem;
	position: relative;
	line-height: 2.2rem;

	&:before {
		z-index: 5;
		bottom: 0;
		left: -1px;
		content: '';
		width: 190px;
		height: 190px;
		display: block;
		position: absolute;
		background: #f1f1f1;
		.border-radius(50%);
	}

	&:after {
		left: -12px;
		bottom: -12px;
		z-index: 5;
		content: '';
		width: 214px;
		height: 214px;
		display: block;
		position: absolute;
		border: 1px dashed #d2d2d2;
		.border-radius(50%)
	}

	input[type='file'] {
		display: none;
	}

	span {
		top: 100px;
		left: 30px;
		right: 30px;
		z-index: 20;
		text-align: center;
		position: absolute;
		text-decoration: underline;
	}

	img {
		z-index: 15;
		position: relative;
	}

	&:hover {

		span {
			text-decoration: none;
		}
	}
}

.auth_info {
	.flex-display();

	.auth_info_left {
		width: 50%;
		padding: 30px 90px 25px 80px;
		border-right: 3px solid @color-base;
	}

	.auth_info_right {
		width: 50%;
		background: #fff;
		padding: 60px 90px 80px 80px;
		border-left: 2px solid @color-base;
		.box-shadow(0px 0px 30px 0px rgba(0, 0, 0, 0.07));
	}

	.form_title {
		color: #000;
		font-size: 3rem;
		font-weight: 200;
		line-height: 3.2rem;
		margin-bottom: 3rem;

		strong {
			font-weight: 400;
		}
	}

	.form_text {
		color: #000;
		opacity: 0.8;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin-bottom: 4.5rem;
	}

	.form_wrap {
		width: 330px;
		margin-bottom: 80px;
	}
}

.form_social {

	.form_social_title {
		color: #000;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 2.8rem;
		margin-bottom: 3rem;

		strong {
			font-weight: 400;
		}
	}

	ul {
		padding: 0;
		font-size: 0;
		line-height: 0;
		margin: 0 -1rem;
		list-style: none;

		li {
			margin: 0 1rem;
			display: inline-block;

			a {
				width: 56px;
				height: 56px;
				color: #fff;
				padding: 1.8rem 0;
				font-size: 2rem;
				text-align: center;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
				.border-radius(50%);

				&.vk {
					background: #346595;
				}

				&.gp {
					background: #ed4922;
				}

				&.fb {
					background: #485a91;
				}

				&.tw {
					background: #59adeb;
				}
			}
		}
	}
}

.box_form {
	padding: 60px 80px 50px 80px;

	.box_form_row {
		.flex-display();
	}

	.box_form_left {
		width: 440px;
		min-width: 440px;
		padding-right: 2rem;
	}

	.box_form_right {
		.flex-grow(1);
	}

	.form_title {
		font-weight: 300;
		font-size: 2.6rem;
		line-height: 3.4rem;

		strong {
			font-weight: 400;
		}
	}

	.box_inline_form {
		padding: 0;
		margin: 0 -1rem;
		list-style: none;
		.flex-display();

		> li {
			padding: 0 1rem;

			&:first-child {
				width: 360px;
				min-width: 360px;
			}

			&:last-child {
				.flex-grow(1);
			}

			.btn {
				width: 100%;
			}
		}
	}

	.form_info_text {
		color: #000;
		opacity: 0.6;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	.form_title_second {
		color: #000;
		opacity: 0.6;
		font-weight: 300;
		font-size: 1.9rem;
		line-height: 2.8rem;
	}

	.box_form_wrap {
		width: 340px;

		.btn {
			width: 100%;
			margin-top: 2rem;
		}
	}

	.no_account {
		background: #fff;
		font-weight: 300;
		font-size: 2.6rem;
		line-height: 3.4rem;
		margin-bottom: 75px;
		padding: 31px 40px 35px 50px;
		border-left: 5px solid @color-base;
		.box-shadow(0px 0px 90px 0px rgba(0, 0, 0, 0.07));

		span {
			display: block;
			margin-bottom: 0.5rem;
		}

		a {
			color: #4981c2;
			text-decoration: none;
			display: inline-block;
			border-bottom: 1px solid #d7e3f2;

			&:hover {
				color: #4981c2;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
}

.tabs {

	.tabs_nav {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		.flex-display();

		> li {
			width: 33.33%;

			a {
				width: 100%;
				color: #3552b1;
				background: #fff;
				font-size: 1.5rem;
				line-height: 2.1rem;
				text-align: center;
				padding: 2.3rem 1rem;
				display: inline-block;
				text-decoration: none;
				border-bottom: 5px solid transparent;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}

			&:nth-child(1) {

				a {
					color: @color-violet;
					border-bottom-color: @color-violet;

					&:hover {
						color: #fff;
						background: @color-violet;
					}
				}

				&.active {

					a {
						color: #fff;
						background: @color-violet;
					}
				}
			}

			&:nth-child(2) {

				a {
					color: @color-blue;
					border-bottom-color: @color-blue;

					&:hover {
						color: #fff;
						background: @color-blue;
					}
				}

				&.active {

					a {
						color: #fff;
						background: @color-blue;
					}
				}
			}

			&:nth-child(3) {

				a {
					color: @color-green;
					border-bottom-color: @color-green;

					&:hover {
						color: #fff;
						background: @color-green;
					}
				}

				&.active {

					a {
						color: #fff;
						background: @color-green;
					}
				}
			}
		}
	}

	.tabs_item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.social_enter {
	.flex-display();

	.social_enter_text {
		color: #000;
		width: 260px;
		padding-top: 0.8rem;
		min-width: 260px;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

.tutorial_box {
	padding: 75px 142px 50px 134px;

	p {
		margin-bottom: 5rem;
	}

	.tutorial_box_image {
		position: relative;
		margin-bottom: 8rem;
		.box-shadow(0px 0px 90px 0px rgba(50, 50, 50, 0.1));

		.tutorial_box_hover {
			width: 261px;
			height: 261px;
			overflow: hidden;
			position: absolute;
			.border-radius(50%);
			.box-shadow(0px 0px 90px 0px rgba(50, 50, 50, 0.2));
		}
	}

	.btn-back {
		color: #000;
		opacity: 0.4;
		margin-top: 2rem;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 1.5rem;
		display: inline-block;
	}
}

.tutorial_video {
	display: block;
	position: relative;

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: '';
		position: absolute;
		background: rgba(0,0,0,0.7);
	}

	&:before {
		top: 50%;
		left: 50%;
		content: '';
		z-index: 20;
		width: 108px;
		height: 108px;
		position: absolute;
		margin: -54px 0 0 -54px;
		background: url("../img/btn_play.png") 50% 50% no-repeat;
	}
}

.box_text {
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 50px 50px 25px 60px;

	ul {
		padding: 0;
		list-style: none;
		margin: 0 0 0 45px;

		li {
			margin-bottom: 1.5rem;
		}
	}
}

.price {
	width: 100%;
	margin-top: -127px;
	border-collapse: collapse;

	.price_tariff {
		color: #fff;
		width: 100%;
		height: 205px;
		text-align: left;
		position: relative;
		background: #3552b1;
		padding: 38px 80px 40px 55px;

		&.price_tariff_one {
			background: url("../img/price_heading_violet_one.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.price_tariff_two {
			background: url("../img/price_heading_violet_two.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.price_tariff_three {
			background: url("../img/price_heading_violet_three.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		.price_tariff_name {
			font-size: 2rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}

		.price_tariff_new {
			font-size: 3rem;
			line-height: 3rem;
			margin-bottom: 0.5rem;
		}

		.price_tariff_date {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 2rem;
		}

		.price_tariff_old {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 2rem;

			span {
				text-decoration: line-through;
			}
		}

		.price_tariff_logo {
			top: 30px;
			right: 30px;
			width: 11px;
			height: 15px;
			position: absolute;
			display: inline-block;

			.ico-svg {
				fill: #fff;
			}
		}
	}

	th {
		width: 25%;
		height: 70px;
		text-align: left;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2rem;
		vertical-align: middle;
		background: transparent;
		border: 1px solid #f2f2f2;
	}

	td {
		width: 25%;
		height: 70px;
		font-size: 2rem;
		background: #fff;
		text-align: center;
		line-height: 2.2rem;
		vertical-align: middle;
		border: 1px solid #f2f2f2;
	}

	tr {

		&:nth-child(1) {

			th {
				padding: 0;
				border: none;
				text-align: left;
			}

			td {
				padding: 0;
				border: none;
				text-align: left;
			}
		}

		&:nth-child(2) {

			th {
				height: auto;
				font-size: 2rem;
				line-height: 2.6rem;
			}

			td {
				height: auto;
				color: #737373;
				background: #fff;
				text-align: left;
				font-size: 1.3rem;
				line-height: 1.5rem;
				padding: 35px 30px 35px 60px;
			}
		}
	}
}

.tariff_archive {
	padding: 30px;
	background: #fff;
	position: relative;
	margin-bottom: 100px;
	border-left: 5px solid @color-violet;
	.border-radius(.3px);
	.flex-display();

	.tariff_archive_info {
		color: #fff;
		width: 705px;
		height: 272px;
		min-width: 705px;
		position: relative;
		padding: 60px 90px 30px 65px;
		background: url("../img/heading_violet.jpg") 50% 50% no-repeat;
		background-size: cover;
		.border-radius(2px);
		.flex-grow(1);


		&:before {
			top: 45px;
			right: -1px;
			content: '';
			position: absolute;
			border: 20px solid transparent;
			border-right: 20px solid #ffffff;
		}

		.tariff_archive_heading {
			margin-bottom: 2.5rem;
		}
	}

	.tariff_archive_heading {
		font-weight: 300;
		font-size: 3.2rem;
		line-height: 3.4rem;
		margin-bottom: 3.5rem;

		strong {
			font-weight: 400;
		}
	}

	.tariff_archive_text {
		padding: 50px 60px 10px 90px;
	}

	.tariff_archive_price {
		font-size: 3rem;
		font-weight: 300;
		color: @color-base;
		line-height: 3.2rem;
	}

	.tariff_archive_logo {
		top: 30px;
		right: 30px;
		width: 17px;
		height: 24px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: #e0e0e0;
		}
	}
}

.tariff_action {
	margin: 0;
	padding: 0;
	list-style: none;
	.flex-display();

	> li {
		position: relative;
		.flex-grow(1);

		&:nth-child(1) {
			font-weight: 300;
			font-size: 3.7rem;
			padding-top: 45px;
			line-height: 3.8rem;

			strong {
				font-weight: 500;
			}
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 452px;
			min-width: 452px;
			background: #fff;
			text-align: center;
			margin-left: 38px;
			padding: 55px 20px 20px 20px;
			border-left: 5px solid @color-base;
			.border-radius(2px);
			.box-shadow(0px 0px 30px 0px rgba(50, 50, 50, 0.07));

			strong {
				display: block;
				font-weight: 300;
				font-size: 7.8rem;
				line-height: 7.8rem;
				margin-bottom: 3.5rem;
				color: @color-base;
			}

			span {
				display: block;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 2rem;
			}
		}
	}

	.tariff_action_logo {
		top: 30px;
		right: 30px;
		width: 17px;
		height: 24px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: #e3e3e3;
		}
	}
}

.payment {
	.flex-display();

	.payment_private {
		.flex-grow(1);

		.payment_title {
			margin-bottom: 10rem;
		}
	}

	.payment_corp {
		width: 413px;
		min-width: 413px;
		background: #fff;
		position: relative;
		padding: 50px 50px 60px 50px;
		border-left: 5px solid @color-base;
		.box-shadow(0px 0px 90px 0px rgba(50, 50, 50, 0.07));

		.payment_title {
			margin-bottom: 3rem;
		}
	}

	.payment_title {
		font-weight: 300;
		font-size: 3.6rem;
		line-height: 3.8rem;

		strong {
			font-weight: 500;
		}
	}

	.payment_lead {
		color: #000;
		opacity: 0.6;
		font-weight: 300;
		font-size: 2.6rem;
		line-height: 3.4rem;
		margin-bottom: 4.5rem;
	}

	.payment_text {
		opacity: 0.6;
		color: #4b4b4b;
		font-size: 1.6rem;
		line-height: 2.4rem;

		a {
			color: #4981c2;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.payment_logo {
		top: 33px;
		right: 47px;
		width: 17px;
		height: 24px;
		position: absolute;
		display: inline-block;

		.ico-svg {
			fill: #e0e0e0;
		}
	}

	.payment_method {
		position: relative;
		margin-right: -40px;
		margin-bottom: -45px;

		table {
			width: 100%;
			border-collapse: collapse;
			border-bottom: 1px solid #ededed;
		}

		td {
			width: 25%;
			font-size: 0;
			line-height: 0;
			padding: 1rem 0;
			text-align: center;

			border-right: 1px solid #ededed;

			.img-fluid {
				display: inline-block;
			}
		}

		tr {

			&:first-child {

				td {
					color: #848484;
					text-align: left;
					font-size: 1.5rem;
					line-height: 1.8rem;
					padding: 3rem 4rem;
					border-top: 1px solid #ededed;
					border-bottom: 1px solid #ededed;
				}
			}

			&:nth-child(2) {

				td {
					padding-top: 2.5rem;
				}
			}

			&:last-child {

				td {
					padding-bottom: 2.5rem;
				}
			}
		}

	}
}

.row {
	margin: 0 -1rem;
	.flex-display();

	.col-50 {
		width: 50%;
		padding: 0 1rem;
	}
}

.mb_40 {
	margin-bottom: 40px;
}

.mb_50 {
	margin-bottom: 50px;
}

.mb_60 {
	margin-bottom: 60px;
}

.mb_80 {
	margin-bottom: 80px;
}

.mb_90 {
	margin-bottom: 90px;
}
.mb_100 {
	margin-bottom: 115px;
}

.mb_115 {
	margin-bottom: 115px;
}

.pb_0 {
	padding-bottom: 0;
}

