@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

//-------------------

/* Generated by Fontie <http://fontie.pixelsvsbytes.com> */

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-BlackItalic.eot');
	src: url('../fonts/Gotham/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-BlackItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-BlackItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-BlackItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-BlackItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-BlackItalic.svg#Gotham Black Italic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Black.eot');
	src: url('../fonts/Gotham/Gotham-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Black.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Black.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Black.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Black.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Black.svg#Gotham-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-BoldItalic.eot');
	src: url('../fonts/Gotham/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-BoldItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-BoldItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-BoldItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Bold.eot');
	src: url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Bold.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-BookItalic.eot');
	src: url('../fonts/Gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-BookItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-BookItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-BookItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Book.eot');
	src: url('../fonts/Gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Book.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Book.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Book.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Book.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-LightItalic.eot');
	src: url('../fonts/Gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-LightItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-LightItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-LightItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Light.eot');
	src: url('../fonts/Gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Light.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Light.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Light.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Light.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Light.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-MediumItalic.eot');
	src: url('../fonts/Gotham/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-MediumItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-MediumItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-MediumItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Medium.eot');
	src: url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Medium.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-ThinItalic.eot');
	src: url('../fonts/Gotham/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-ThinItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-ThinItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-ThinItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
	font-weight: 200;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-Thin.eot');
	src: url('../fonts/Gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-Thin.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-Thin.woff') format('woff'),
	url('../fonts/Gotham/Gotham-Thin.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-Thin.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot');
	src: url('../fonts/Gotham/Gotham-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-ExtraLightItalic.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-ExtraLightItalic.woff') format('woff'),
	url('../fonts/Gotham/Gotham-ExtraLightItalic.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-ExtraLightItalic.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-ExtraLightItalic.svg#Gotham-ExtraLightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'Gotham';
	src: url('../fonts/Gotham/Gotham-ExtraLight.eot');
	src: url('../fonts/Gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham/Gotham-ExtraLight.woff2') format('woff2'),
	url('../fonts/Gotham/Gotham-ExtraLight.woff') format('woff'),
	url('../fonts/Gotham/Gotham-ExtraLight.ttf') format('truetype'),
	url('../fonts/Gotham/Gotham-ExtraLight.otf') format('opentype'),
	url('../fonts/Gotham/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}