.email_block {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 75px;

	.email_link {
		color: #000;
		font-size: 5rem;
		font-weight: 300;
		line-height: 5rem;
		padding-bottom: 1.5rem;
		display: inline-block;
		text-decoration: none;border-bottom: 1px solid #d9d9d9;

		&:hover {
			color: #000;
			text-decoration: none;
			border-bottom-color: transparent;
		}
	}
}

.footer {
	background: #fff;
	padding-top: 60px;
	position: relative;
	padding-bottom: 47px;

	.footer_logo {
		float: left;
		width: 95px;
		height: 30px;
		cursor: pointer;
		margin-right: 24px;
		.flex-display();

		i {
			width: 100%;
			margin: auto 0;
			display: inline-block;
		}

		.img-fluid {
			fill: @color-base;
		}
	}

	.footer_text {
		float: left;
		color: #000;
		opacity: 0.5;
		display: block;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-right: 190px;
		font-family: @font-family-second;
		.flex-display();

		span {
			margin: auto 0;
			display: inline-block;
		}
	}

	.footer_nav {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		.flex-display();

		> li {
			padding: 0 38px 0 38px;
			position: relative;
			.transition(.2s);

			> a {
				color: #4981c2;
				background: #fff;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 2rem;
				position: relative;
				text-decoration: none;

				.flex-display();
				.transition(.2s);

				> span {
					margin: auto 0;
					padding: 0.4rem 0;
					position: relative;
					display: inline-block;
					border-bottom: 1px solid #dbe6f3;
					border-top: 1px solid transparent;
					font-family: @font-family-second;
				}

				&:hover {
					color: #4981c2;
					.transition(.2s);
					text-decoration: none;

					> span {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}


	.footer_buttons {
		float: right;
		list-style: none;
		margin: -10px 0 0 0;
		padding: 0;
		.clearfix();

		> li {
			float: left;

			> a {
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				color: @color-base;
				position: relative;
				text-align: center;
				padding: 1.6rem 4rem;
				text-decoration: none;
				display: inline-block;
				font-family: @font-family-second;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					opacity: 0.2;
					position: absolute;
					display: inline-block;
					border: 1px solid @color-base;
				}

				&:hover {
					color: #fff;
					background: @color-base;

					&:before {
						display: none;
					}
				}
			}

			&:first-child {
				margin-right: -1px;

				a {
					width: 166px;

					&:before {
						border-right: none;
					}
				}
			}

			&:last-child {

				a {
					width: 130px;
				}
			}
		}
	}
}