.header {
	z-index: 1010;
	height: 108px;
	background: #fff;
	position: relative;
	.box-shadow(0px 13px 30px 0px rgba(0, 0, 0, 0.16));

	.header_logo {
		float: left;
		height: 108px;
		width: 95px;
		cursor: pointer;
		margin-right: 24px;
		.flex-display();

		i {
			width: 100%;
			margin: auto 0;
			display: inline-block;
		}

		.img-fluid {
			fill: @color-base;
		}
	}

	.header_text {
		float: left;
		color: #000;
		opacity: 0.5;
		height: 108px;
		display: block;
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-right: 170px;
		padding: 39px 0;
		font-family: @font-family-second;

		span {
			margin: auto 0;
			display: inline-block;
		}
	}


	.header_nav {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		.flex-display();

		> li {
			position: relative;
			.transition(.2s);

			> a {
				height: 108px;
				color: #4981c2;
				background: #fff;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 2rem;
				position: relative;
				letter-spacing: 1px;
				text-decoration: none;
				display: inline-block;
				padding: 39px 30px;
				.transition(.2s);

				> span {
					margin: auto 0;
					padding: 0.4rem 0;
					position: relative;
					display: inline-block;
					border-bottom: 1px solid #dbe6f3;
					border-top: 1px solid transparent;
					font-family: @font-family-second;
				}

				&:hover {
					color: #fff;
					.transition(.2s);
					text-decoration: none;
					background: @color-base;
				}

				&.dropdown {
					padding-right: 48px;

					&:after,
					&:before {
						top: 50%;
						right: 22px;
						width: 7px;
						height: 1px;
						z-index: 10;
						content: '';
						background: #abc5e3;
						position: absolute;
						display: inline-block;
					}

					&:after {
						.rotate(-40deg);
						margin-left: -5px;
					}

					&:before {
						margin-right: 5px;
						.rotate(40deg);
					}

					&:hover {
						.transition(.2s);

						&:after,
						&:before {
							background: #fff;
						}
					}
				}
			}

			&:hover {
				.transition(.2s);

				> a {
					color: #fff;
					text-decoration: none;
					background: @color-base;


					&:after {
						.rotate(40deg);
					}

					&:before {
						.rotate(-40deg);
					}
				}

				> ul {
					opacity: 1;
					visibility: visible;
					.transition(.2s);
				}
			}

			> ul {
				left: 0;
				top: 100%;
				margin: 0;
				padding: 0;
				width: 295px;
				opacity: 0;
				visibility: hidden;
				list-style: none;
				position: absolute;
				background: #f1f1f1;
				.box-shadow( 0px 15px 26px 0px rgba(0, 0, 0, 0.2));
				.transition(.2s);

				> li {

					> a {
						width: 100%;
						color: #4981c2;
						font-weight: 300;
						font-size: 1.5rem;
						line-height: 2.1rem;
						white-space: nowrap;
						display: inline-block;
						text-decoration: none;
						padding: 1.7rem 2rem 1.7rem 3.5rem;
						font-family: @font-family-second;

						&:hover {
							color: #fff;
							text-decoration: none;
							background: @color-base;
						}
					}
				}
			}
		}
	}

	.header_buttons {
		float: right;
		list-style: none;
		margin: 0;
		padding: 30px 0 0 0;
		.clearfix();

		> li {
			float: left;

			> a {
				font-weight: 300;
				font-size: 1.4rem;
				line-height: 2rem;
				color: @color-base;
				position: relative;
				text-align: center;
				padding: 1.6rem 4rem;
				text-decoration: none;
				display: inline-block;
				font-family: @font-family-second;

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 100%;
					opacity: 0.2;
					position: absolute;
					display: inline-block;
					border: 1px solid @color-base;
				}

				&:hover {
					color: #fff;
					background: @color-base;

					&:before {
						display: none;
					}
				}
			}

			&:first-child {
				margin-right: -1px;

				a {
					width: 166px;

					&:before {
						border-right: none;
					}
				}
			}

			&:last-child {

				a {
					width: 130px;
				}
			}
		}
	}
}