// Color system

@color-white:               #fff;
@color-black:               #000;
@color-gray:                #d6d6d6;


@color-red:                 #ed4059;
@color-blue:                #3552b1;
@color-green:               #11562d;
@color-violet:              #551d4e;
@color-violet-hover:        #702266;
@color-violet-gradient:     url("../img/heading_violet.jpg");


@body-color:                #0a0a0a;

@color-base:                @color-violet;
@color-base-hover:          @color-violet-hover;
@color-bg:                  @color-violet-gradient;



// Fonts

@font-family-base:          'Gotham', Arial, sans-serif;
@font-family-head:          'Gotham', Arial, sans-serif;
@font-family-second:        'HelveticaNeueCyr', Arial, sans-serif;

@font-size-reset:           10px;

@font-size-base:            1.5rem;
@font-size-lg:              (@font-size-base * 1.25);
@font-size-sm:              (@font-size-base * .875);

@font-weight-light:         300;
@font-weight-normal:        400;
@font-weight-bold:          700;

@font-weight-base:          @font-weight-normal;
@line-height-base:          1.8;


// Links

@link-color:                @color-blue;
@link-decoration:           none;
@link-hover-color:          darken(@link-color, 15%);
@link-hover-decoration:     underline;


// Page

@body-bg:                   @color-white;