.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 2.5rem 0;

	> li {
		font-size: 1.4rem;
		line-height: 2rem;
		color: @color-base;
		display: inline-block;

		&:after {
			content: '-';
			padding: 0 5px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		> a {
			color: @color-base;
			text-decoration: none;

			&:hover {
				color: @color-base;
				text-decoration: none;
			}
		}
	}
}