.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.5rem;
	user-select: none;
	text-align: center;
	line-height: 2.1rem;
	padding: 2.2rem 4.5rem;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: @color-base;


	&:hover {
		color: #fff;
		text-decoration: none;
		background: @color-base-hover;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_gray {
	color: #101010;
	background: @color-gray;

	&:hover {
		color: #101010;
		background: darken(@color-gray, 5%);
	}
}

.btn_blue {
	color: #fff;
	background: @color-green;

	&:hover {
		color: #fff;
		background: darken(@color-green, 5%);
	}
}

.btn_blue {
	color: #fff;
	background: @color-blue;

	&:hover {
		color: #fff;
		background: darken(@color-blue, 5%);
	}
}

.btn_green {
	color: #fff;
	background: @color-green;

	&:hover {
		color: #fff;
		background: darken(@color-green, 5%);
	}
}

.btn_more {
	font-weight: 300;
	font-size: 2.5rem;
	line-height: 3rem;
	color: @color-base;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid @color-base;

	&:hover {
		color: @color-base;
		text-decoration: none;
		border-bottom-color: transparent;
	}
}