.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #8c8c8c;
	background: #fff;
	font-size: 1.4rem;
	line-height: 2.3rem;
	padding: 2rem 2.6rem;
	display: inline-block;
	height: 65px;
	vertical-align: middle;
	border: 1px solid #f2f2f2;
	.placeholder(#8c8c8c);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		.placeholder(transparent);
	}

	&.form-control-icon {
		padding-left: 45px;
	}
}

textarea.form_control {
	height: auto;
}

.form_control_email {
	padding-left: 6.5rem;
	background: url("../img/form_email.png") 0 50% no-repeat;
}


.form_control_password {
	padding-left: 6.5rem;
	background: url("../img/form_pass.png") 0 50% no-repeat;
}

.form_control_no_border {
	border-color: #fff;
	.box-shadow(-20px 20px 30px 0px rgba(0, 0, 0, 0.11));
}

.form_group {
	position: relative;
	margin-bottom: 3rem;
}

.form_button {
	padding-top: 30px;
}